{% extends 'base.html.twig' %}

{% block title %}Mon compte - Ma Boutique{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin">- Vous êtes administrateur : accéder au backoffice</a></small><br/>
    {% endif %}
    <p>Bienvenue {{ app.user.firstname }} dans votre compte. <br>
        C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_order') }}">Afficher mes commandes</a>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
