{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Ma Boutique{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>


    <hr>
    <a href="{{ path('account') }}">- Retourner sur mon compte</a>
    <hr>
    {% if notification %}

        <div class="alert alert-info">{{ notification }}</div>

    {% endif %}

    {{ form(form) }}
    <hr>


{% endblock %}
