{% extends 'base.html.twig' %}

{% block title %}Nos produits - Ma Boutique{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">

            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>

        <div class="col-md-9">
            <h3>Nos produits</h3>
            <h4>Produits: ({{ products.getTotalItemCount }})</h4>
            <h5>Produits sur cette page: ({{ products|length }})</h5>

            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-4">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            <div class="navigation">
            {{ knp_pagination_render(products) }}
            </div>
        </div>

    </div>




{% endblock %}
